body {
  display: flex;
  justify-content: center;
  background-color: #333;
}

/*middle div*/
div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  animation-name: div_2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #f5c181;
}

@keyframes div_2 {
  0% {
    transform: translate(-50%, -25%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

/*top div*/
div:first-of-type {
  z-index: 2;
  border-bottom: 100px solid #fffecf;
  animation-name: div_1;
}
@keyframes div_1 {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -100%);
  }
}

/* bottom div */
div:last-of-type {
  z-index: 0;
  animation-name: div_3;
  border-bottom: 100px solid #00a79d;
}
@keyframes div_3 {
  0% {
    transform: translate(-50%, 25%);
  }
  100% {
    transform: translate(-50%, -0%);
  }
}
